<div id="<%= dom_id g %>">
  <p>
    <strong>Miningtype:</strong>
    <%= g.MiningType %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= g.name %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= g.acronym %>
  </p>

</div>
