<p style="color: green"><%= notice %></p>

<h1>Gs</h1>

<div id="gs">
  <% @gs.each do |g| %>
    <%= render g %>
    <p>
      <%= link_to "Show this g", g %>
    </p>
  <% end %>
</div>

<%= link_to "New Type", new_g_path %>
