<h1>Seja Bem vindo</h1>
<p>Estrou aprendendo '-'</p>
<p>Data: <%= Date.today.strftime("%d/%m/%Y")%></p>

<li>
    <%= link_to "Cadastro de Moeadas", coins_path%>
</li>

<p> você esta em ambiente de <%= Rails.env == "development" ? "Desenvolvimento " : "Produção"%> </p>